/* .container{
    text-align:center;
    
    border:1px solid #666;
}

.fake_img{
    display:inline-block;
    margin:5px 20px;
    padding:5px;
    
    border:1px solid #CCC;
} */
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .img {
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
}